name: C++ CI (Conan 2 + CMake + CTest)

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build-in tests:
    runs-on: ubuntu-latest

  steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Install build tools
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake g++ make

    - name: Install Conan
      uses: conan-io/setup-conan@v1

    - name: Install Conan dependencies
      run: conan install . --build=missing

    - name: Configure (CMake)
      run: |
        cmake -S . -B build \
          -DCMAKE_BUILD_TYPE=Release \
          -DCMAKE_TOOLCHAIN_FILE=build/conan_toolchain.cmake

    - name: Build
      run: cmake --build build

    - name: Test
      run: ctest --test-dir build --output-on-failure
