name: C++ CI (Conan 2 + CMake + CTest)

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-and-test:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Install build tools
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake build-essential

    - name: Setup Conan
      uses: conan-io/setup-conan@v1
      with:
        version: "2.24.0"

    - name: Install Conan dependencies
      run: conan install . --build=missing

    - name: Configure (CMake)
      run: cmake --preset conan-release

    - name: Build
      run: cmake --build --preset conan-release

    - name: Test
      run: ctest --preset conan-release --output-on-failure
